/* Branches CSS*/

/* defines font, size and color of body */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #f8f6f0;
  height: 100%;
  margin: 0;
}



/* background color of top navigator bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* CSS of top navigator bar hyperlinks  */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* CSS of top navigator bar hyperlinks on hover  */
.topnav a:hover {
   background-color: goldenrod; 
  color: white;
}

/* CSS of top navigator bar hyperlinks when activated */
.topnav a.active {
  background-color: goldenrod;
  color: white;
}

/* top navigator bar icon */
.topnav .icon {
  /* initially hidden (appears on low dimensions) */
  display: none;
}

/* defines size of map */
#map {
  width: 400px;
  height: 350px;
}

/* defines color and cursor of hyperlinks (branches names) */
.branches a  {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* defines color of hyperlinks on hover */
.branches nav a:hover {
  color: goldenrod;
}

/* defines color of hyperlinks when activated */
.branches nav a:active {
  color: brown;
}

/* defines display type of body */
.main {
  display: flex;
}

/* defines position and background color of location image on the left side bar */
#loc_pic {
  position: absolute;
  left: 110px;
  background: rgba(0, 0, 0, 0);
}

/* defines position and size of information displayed */
#info {
  height: 500px;
  width: 700px;
  position: relative;
  top: 150px;
  left: 130px;
}

/* defines position of branches names */
.name_branches {
  position: absolute;
  text-align: center;
  top: 300px;
  left: 145px;
}

/* defines position, size, and color of left side bar */
.branches {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 100;
  width: 300px;
  height: 500px;
  background-color: black;
  opacity: 0.7;
  padding: 55px;
  position: relative;
  top: 70px;
}

/* defines color and cursor of hyperlinks (branches names) */
.name_color a{
  text-decoration: none;
  color: white;
  cursor: pointer;
}

/* defines color of branches names on hover */
.name_color a:hover {
  color: black;
}
 
/* defines color of branches names when activated */
.name_color a:active {
  color: brown;
}


/* defines display and color of hidden bar (appears on low dimensions) */
.hidden_branches {
  display: none;
  background-color: goldenrod;
  text-align: center;
} 


/* defines shape, size and position of footer */
.footer {
  background-color: goldenrod;
  position: relative;
  top: 200px;
  right: 0;
  width: 100%;
  height: 200px;
}

/* defines shape and size of footer content */
#footerContent {
  text-align: center;
  color: black;
  font-weight: 100;
  padding-top: 2%;
}


/*Responsivness - top navigator bar*/

/* activated when width is below 600px */
@media screen and (max-width: 600px) {

  /* Hides initial hyperlinks except home button (first child) */
  .topnav a:not(:first-child) {
    display: none;}


    /* displays icon on top right */
  .topnav a.icon {
    float: right;
    display: block;
  }
  /* adapts nav bar position */
  .topnav.responsive {
    position: relative;
  }
  /* icon displayed on top right of nav bar */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* hyperlinks displayed */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Responsivness - webpage */
/* activated when width is below 1100px */
@media screen and (max-width: 1100px) {

  /* hides branches */
  .branches {
    display: none;
  }
  .branches a {
    color: black;
  }
  .branches #loc_pic {
    display: none;
  }
  .hidden_branches {
    display: block;
    height: 10%;
    width: 100%;
  }
  /****************/

  /* show hidden branches */
  .hidden_branches a {
    margin-right: 2%;
    margin-left: 2%;
  }
/* edit info's position and size */
  #info {
    padding-top: 5%;
    padding-bottom: 15%;
    width: 80%;
    position: static;
    margin: 0 auto;
    margin-top: 20%;
  }
/* edit body's display  */
  .main {
    display: flex;
    flex-direction: column;
  }
  /* optimize map size */
  #map {
    height: 100%;
    width: 100%;
  }
}
