/* Contact Us CSS */

body {
  background-color: #f8f6f0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* everything */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


/* background color of top navigator bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* CSS of top navigator bar hyperlinks  */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* CSS of top navigator bar hyperlinks on hover  */
.topnav a:hover {
   background-color: goldenrod; 
  color: white;
}

/* CSS of top navigator bar hyperlinks when activated */
.topnav a.active {
  background-color: goldenrod;
  color: white;
}

/* top navigator bar icon */
.topnav .icon {
  /* initially hidden (appears on low dimensions) */
  display: none;
}

/* defines shape and size of everything included in this page  */
.contact {
  padding-top: 100px;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* defines shape and size of heading and paragraph */
.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36 px;
  font-weight: 500;
}

.contact .content p {
  font-weight: 300;
}
/*              */

/* defines position, shape and size of tags and contact form */
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

/* defines shape and size of contact information */
.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

/* defines shape and size of boxes on the left */
.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

/*defines position, shape and size of icons */
.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  background: goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-size: 22px;
}

/*defines position, shape and size of text */
.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

/*defines position, shape and size of header */
.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: "";
}

/* defines color, shape and size of Contact form */
.contactForm {
  width: 45%;
  padding: 40px;
  background-color: goldenrod;
}

/* defines color, shape and size of Contact form headers */
.contactForm h2 {
  font-size: 30px;
  color: "";
  font-weight: 500;
}

/* defines shape and size of Contact form boxes */
.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

/* defines color, shape and size of contact form input and textarea */
.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  resize: none;
}

/* defines color, shape and size of initial text in input and textarea */
.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: grey;
}

/* translates color and size of of initial text in input and textare*/
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: red;
  font-size: 12px;
  transform: translateY(-20px);
}

/* defines color, shape and size of submit button */
#submit {
  width: 200px;
  background: black;
  color: gray;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  position: relative;
  left: 0px;
  margin-top: 20px;
}


/* defines color of address and phonr number */
.links {
  color: goldenrod;
}

/* defines shape, size and position of footer */
.footer {
  background-color: goldenrod;
  position: relative;
  top: 200px;
  right: 0;
  width: 100%;
  height: 280px;
}

/* defines shape and size of footer content */
#footerContent {
  text-align: center;
  color: black;
  font-weight: 100;
  padding-top: 2%;
}



/*Responsivness - submit button*/
/* activated when width is below 600px */
@media (max-width: 600px) {
/* submit button's size is reduced */
 #submit{
   font-size: 10px;
   width: 100%;
 } 
}

/*Responsivness - top navigator bar*/

/* activated when width is below 600px */
@media screen and (max-width: 600px) {

  /* Hides initial hyperlinks except home button (first child) */
  .topnav a:not(:first-child) {
    display: none;}


    /* displays icon on top right */
  .topnav a.icon {
    float: right;
    display: block;
  }
  /* adapts nav bar position */
  .topnav.responsive {
    position: relative;
  }
  /* icon displayed on top right of nav bar */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* hyperlinks displayed */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/*Responsivness */

/* activated when width is below 1050px */
@media (max-width: 1050px) {
  .contact {
    padding: 50px;
  }
  .container {
    flex-direction: column;
  }
  .container .contactInfo {
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm {
    width: 100%;
  }
}

