/*CSS project*/

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  height: 100%;
  width: 99%;
  /* background: url("../images/HomeCover2.jpeg"); */
  background-color: black;
  background-size: 100%;
}
/* 
.logo {
  position: fixed;
  top: 0;
  left: 10;
}

.header {
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 60px;
  float: right;
  z-index: 1;
}

.header nav {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 15px;
  text-align: center;
}

.header nav a {
  position: relative;
  left: 620px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
}

.header nav a:hover {
  background-color: none;
  color: goldenrod;
}

#gold {
  color: goldenrod;
}
 */

 body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  /* overflow: hidden; */
  background-color: black;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
   background-color: goldenrod; 
  color: white;
}

.topnav a.active {
  background-color: goldenrod;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


.HomeSidebar {
  z-index: -1;
  width: 250px;
  height: 370px;
  background-color: black;
  opacity: 0.7;
  padding: 55px;
  position: relative;
  top: 60px;
}

.HomeSidebar h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100px;
}

.HomeSidebar p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 100;
}

.footer {
  background-color: goldenrod;
  position: relative;
  top: 200px;
  right: 0;
  width: 100%;
  height: 200px;
}

#footerContent {
  text-align: center;
  color: black;
  font-weight: 100;
  padding-top: 2%;
}
