/* Branches CSS*/


/* defines size and color of body */
body {
  background-color: #f8f6f0;
  width: 100%; 
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}


/* background color of top navigator bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* CSS of top navigator bar hyperlinks  */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* CSS of top navigator bar hyperlinks on hover  */
.topnav a:hover {
   background-color: goldenrod; 
  color: white;
}

/* CSS of top navigator bar hyperlinks when activated */
.topnav a.active {
  background-color: goldenrod;
  color: white;
}

/* top navigator bar icon */
.topnav .icon {
  /* initially hidden (appears on low dimensions) */
  display: none;
}

/* defines position of button fixed on bottom right */
#top-button{
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 0;
}

/************/

/* defines position, color, shape and size of tags and contact form */
.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  height: 90px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* changes color of accordion on hover  */
.active,
.accordion:hover {
  background-color: goldenrod;
}

/* 
.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
} */

/* defines size and background color of panel */
.panel {
  padding: 0 18px;
  background-color: #f8f6f0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.accodriondiv {
  position: relative;
  top: 100px;
}

/* defines size tables of 6 elements */
.table6 {
  width: 100%;
}
/* defines size images placed in table of 6 elements */
.image6 {
  width: 350px;
  height: 350px;
}

/* defines size tables of 6 elements */
.table4 {
  width: 100%;
}

/* defines size images placed in table of 4 elements */
.image4 {
  width: 350px;
  height: 350px;
}

/*********  SLIDESHOW  **********/
/* defines size of slideshow image container */
.w3-container {
  position: relative;
  top: 150px;
}

/* defines size of slideshow images */
.slideimage{
  height: 600px;
  width: 100%;
}


/*Responsivness - top navigator bar*/

/* activated when width is below 600px */
@media screen and (max-width: 600px) {

  /* Hides initial hyperlinks except home button (first child) */
  .topnav a:not(:first-child) {
    display: none;}


    /* displays icon on top right */
  .topnav a.icon {
    float: right;
    display: block;
  }
  /* adapts nav bar position */
  .topnav.responsive {
    position: relative;
  }
  /* icon displayed on top right of nav bar */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* hyperlinks displayed */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Responsivness - webpage*/

/* activated when width is below 1100px */
@media only screen and (max-width: 1100px) {
  
 /* adapts slideshow size according to width */
  .slideimage{
    height: 100%;
    width: 100%;
    margin: 0 auto;
  } 
   
  /* adapts tables' size according to width */
  .table4 .table6{
    height: 100%;
    width: 100%;
    margin: 0 auto;
  }

  /* adapts images size in table of 4 according to width */
  .image4{
    height: 40%;
    width: 80%;
    margin: 0 auto;
  }
  
    /* adapts images size in table of 6 according to width */
  .image6{
     height: 40%;
    width: 100%; 
    margin: 0 auto;
  }

}
