html ,body{
  min-height: 500px;
  height: auto !important; 
  height:500px ;

}

/* defines font, size and color of body */
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #333;
  font-weight: 300;
  text-align: center;
  background-color: #f8f6f0;
  margin: 0;
}

/* background color of top navigator bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* CSS of top navigator bar hyperlinks  */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* CSS of top navigator bar hyperlinks on hover  */
.topnav a:hover {
   background-color: goldenrod; 
  color: white;
}

/* CSS of top navigator bar hyperlinks when activated */
.topnav a.active {
  background-color: goldenrod;
  color: white;
}

/* top navigator bar icon */
.topnav .icon {
  /* initially hidden (appears on low dimensions) */
  display: none;
}


/* defines font, size and color of header */
h1 {
  font-weight: 300;
  margin: 0px;
  padding: 25px;
  font-size: 20px;
  background-color: gray;
  color: #fff;
}

/* defines size of questions */
.question {
  font-size: 30px;
  margin-bottom: 10px;
}

/* defines margin and display of answers */
.answers {
  margin-bottom: 20px;
  text-align: left;
  display: inline-block;
}
/* defines size of answers */
.answers label {
  display: block;
  margin-bottom: 10px;
}

/* defines size, color, and cursor of buttons */
button {
  font-family: "Work Sans", sans-serif;
  font-size: 22px;
  background-color: black;
  color: goldenrod;
  border: 0px;
  width: 300px;
  border-radius: 20px;
  padding: 30px;
  cursor: pointer;
  margin-bottom: 30px;
}

/* defines button's color on hover */
button:hover {
  background-color: goldenrod;
  color: black;
}

/* color of disabled button  */
#disabled {
  background-color: grey;
  opacity: 0.5;
}

#disabled:hover {
  background-color: grey;
  opacity: 0.5;
}
/*****/

/* position, size, and transition of slides */
.slide {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 1;
  /*hides slides by using opacity = 0*/
  opacity: 0; 
  transition: opacity 0.5s;
}

/* opacity and z-index of current/active slide*/
/*shows current slide*/
.active-slide {
  opacity: 1;
  z-index: 2;
}

/* defines size and position of div that contains quiz */
.quiz-container {
  position: relative;
  height: 200px;
  margin-top: 40px;
}

/* defines shape, size and position of footer */
.footer {
  background-color: goldenrod;
  position: relative;
  top: 200px;
  right: 0;
  width: 100%;
  height: 220px;
}

/* defines shape and size of footer content */
#footerContent {
  text-align: center;
  color: black;
  font-weight: 100;
  padding-top: 2%;
}

/*************** RESPONSIVENESS ***************/

/*top navigator bar*/

/* activated when width is below 600px */
@media screen and (max-width: 600px) {

  /* Hides initial hyperlinks except home button (first child) */
  .topnav a:not(:first-child) {
    display: none;}


    /* displays icon on top right */
  .topnav a.icon {
    float: right;
    display: block;
  }
  /* adapts nav bar position */
  .topnav.responsive {
    position: relative;
  }
  /* icon displayed on top right of nav bar */
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  /* hyperlinks displayed */
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*WEBPAGE */

/* activated when width is below 615px */
@media only screen and (max-width: 615px) {

  /* edit size of buttons (smaller) */
button{
  padding: 2%;
  text-align: center;
  width: 30%;
  font-size: 100%;
}
}