/*CSS project*/

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  height: 100%;
  background-image: url("cover1.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  background-color: lightgray;
  width: auto;
  float: right;
}

.header nav {
  float: left;
  margin-top: 10px;
  margin-bottom: 10px;

  text-align: center;
}

.header nav a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.header nav a:hover {
  color: white;
}

.header nav a:hover {
  background-color: black;
}
